body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: rgba(0, 0, 0, .06);
}

.content {
	margin: 10px auto 0;
	max-width: 768px;
}

header {
	text-align: center;
	background-color: #fefefe;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.36);
	position: relative;
	padding: 40px 10px;
}

header .logo {
	width: 150px;
}

header h3 {
	font-weight: normal;
	font-size: 22px;
}

header .birthday {
	color: rgba(190,0,0,0.95);
}

.box {
	display: inline-block;
	text-align: center;
	margin: 10px;
	width: calc(100% - 20px);
}

.box strong {
	font-size: 20px;
}

.box img {
	width: 100%;
	margin-top: 20px;
	border-radius: 10px;

	-webkit-box-shadow: 0 0 21px -1px rgba(190,0,0,0.95);
	-moz-box-shadow: 0 0 21px -1px rgba(190,0,0,0.95);
	box-shadow: 0 0 21px -1px rgba(190,0,0,0.95);
}

@media (min-width:768px) {
	.box {
		width: calc(50% - 20px);
		float: left;
	}
}

.clear {
	clear: both;
}

footer {
	text-align: center;
	margin-bottom: 20px;
}

footer img {
	width: 250px;
}