<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="birthdays, android, java, app, social" />
    <meta name="description" content="Check upcoming birthdays with Birthday app!"/>
    <title>Birthday</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
	
	<link href="/css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="box container">
		{{ content }}
	</div>
</body>
</html>